{{ define "header" }}
<header>
    <a href="/index" class="a_header">Home</a>
    <!-- <label>Шапка сайта</label> -->
            
    <div style="display: inline; float: right;">
        <!--<a href="/login" class="a_header">Login</a>-->
        <a href="/register" class="a_header">Login/Register</a>
    </div>

    <!-- 
    <div style="display: inline; float: right;">
        <a href="/profile" class="a_button">Profile</a>
        <a href="/logout" class="a_button">Logot</a>
    </div>
    -->

    <hr>
</header>
{{ end }}

